/**
* Inherit
*
* Inherits all properties from the parent.
* @type Mixin
*/
=inherit
{
	font:inherit;
	color:inherit;
	background:inherit;
	border:inherit;
	text-decoration:inherit;
	text-shadow:inherit;
	text-transform:inherit;
}
