$b: 20px;

$bg__: #fafafa;

$t__: #222;
$t_r_: #888;

$link__: #007ec4;

$line__: #e6e6e6;

/*
$l__: #444;
$l_l_: #666;
$l_d_: #000;

$r_l__: 	rgba(0,0,0,0.75);
$r_l_l_: 	rgba(0,0,0,0.5);
$r_l_d_: 	rgba(0,0,0,1);
*/


@import "sass-mixins-a";