/**
* Typography
*
* Example typography stylsheet. Shows a wide variety
* of techniques - the grid, mixins, constants, expressions etc
*
*/

	body 
	{
		+helvetica;
		
		margin:30px;
	  	font-size:14px;
	  	background:!body_background; 
	  	color:!body_color;
	  	line-height:!baseline;
	}
	
	/**
	* Text anti-aliasing in Safari is too heavy. By making the
	* text-shadow the same colour as the background, it 'fixes'
	* the rendering of the text so it appears much cleaner. 
	*
	* @bugfix
	* @affected Safari 2, Safari 3
	* @valid yes
	* @see http://www.komodomedia.com/blog/2009/03/safari-text-shadow-anti-aliasing-css-hack/
	*/
	p, li, dt, dd, label, legend, caption, td { +crisp; }

	/**
	* --------------------------------------------------------
	* @subsection Heading Styles
	* --------------------------------------------------------
	*/
	
	=heading
	{
		+georgia;

		font-weight:normal; 
		color:!heading_color;
		margin-bottom:!baseline;
		margin-top:#[!baseline * 2]px;
		line-height:!baseline;
		
		img 				{ +reset; }
		a 					{ text-decoration:none; }
		a:hover:after 		{ content: '\2192'; }
		
		&:first-child 		{ margin-top:0; }
	}
	
	h1,h2,h3,h4,h5,h6
	{
		+heading;
	}
	
	h1
	{
		+beveled;
		font-size:36px;
		line-height:#[!baseline*3]px;
		margin-top:#[!baseline*2]px;
	}
	
	h2 
	{
		font-size:30px;
		line-height:#[!baseline*2]px;
		color:#333;
	}
	
	h3 
	{
		font-size:24px;
		line-height:#[!baseline*2]px;
	}
	
	h4 
	{
		font-size:18px;
		line-height:#[!baseline*1.5]px;
		margin-bottom:#[!baseline*0.5]px;
	}
	
	h5 
	{
		font-size:14px;
	}
	
	h6 
	{
		font-size:12px;
		margin-bottom:0; 
	}

	/**
	* --------------------------------------------------------
	* @subsection Text Elements
	* --------------------------------------------------------
	*/
	
	p				{ margin:0 0 !baseline; }
	p:last-child	{ margin-bottom:0; }
	
	blockquote  	{ margin:!baseline; font-style:italic; color:!light; }
	cite			{ }
	q				{ }
	
	strong      	{ font-weight:bold; }
	em      	  	{ font-style:italic; line-height:0.5; }
	mark 			{ }
	
	del         	{ color:!light; }
	ins 			{ background:#fffde2; text-decoration:none; }
	sup, sub    	{ line-height:0; }
	
	abbr			{ } 
	acronym     	{ }
	dfn         	{ font-weight:bold; font-style:italic; }
	
	abbr[title],
	acronym[title],
	dfn[title] 		{ border-bottom:1px dotted !light; cursor:help; }
	
	time			{ }
	address     	{ margin: 0 0 !baseline; font-style:italic; }
	
	hr 				
	{ 
		clear:both; 
		float:left; 
		width:100%; 
		height:0px; 
		margin:#[!baseline-2]px 0 !baseline 0; 
		border:none; 
		background:#ddd;
		border-bottom:1px solid #fff;
		padding-bottom:1px;
	}
	
	pre,
	code,
	kbd,
	samp,
	var,
	output,
	tt 
	{ 
		margin:!baseline 0;
		+monospace; 
		font-size: 11px; 
		line-height: !baseline;
		color:#0088CC;
	}
	
	pre 
	{ 
		background:#fafafa; 
		padding:#[(!baseline / 2) - 1]px; 
		border:1px solid #eee; 
	}
	
	/**
	* --------------------------------------------------------
	* @subsection Links
	* --------------------------------------------------------
	*/
	
	a 
	{ 
		color: #0088CC; 
		text-decoration: underline;
		
		&:focus, &:hover, &:active { color:#000; } 
	}
	
	/**
	* --------------------------------------------------------
	* @subsection Lists
	* --------------------------------------------------------
	*/
	
	ul, ol { margin: !baseline; }
	
	li
	{ 
		ol, ul { margin:0 !baseline; } 
	}
	
	ul { list-style-type:disc; }
	ol { list-style-type:decimal; }
	
	dl { margin: 0 0 !baseline 0; }
	dt { font-weight:bold; }
	dd { margin-left:!baseline; }
	
	/**
	* --------------------------------------------------------
	* @subsection Tables
	* @note You still need cellspacing="0" in your markup
	* --------------------------------------------------------
	*/
	
	table       { margin-bottom: !baseline; width:100%; }
	th          { font-weight:bold; background: #C3D9FF; }
	th,td       { padding: 0; }
	tr.alt td   { background: #E5ECF9; }
	tfoot       { font-style: italic; }
	caption     { background: #eee; }
