<div class="item vm in" id="%itemId%">
	<div class="container">
		<div class="head">
			<span class="sender"><span class="profile" data-sender="%senderScreenName%"></span><img src="%userIconPath%" class="avatar" data-sender="%senderScreenName%" /><a href="%senderLinkURL%">%sender%</a></span>
			<span class="time">%time%</span>
		</div>
		<div class="body">
			<div class="thumbnailbox"><a href="%videoMessageURI%"><img alt="%voiceOverTitle%" id="videoMessageThumbnailImageFor_%itemId%" src="%thumbnailPath%" class="preview"/><img alt="%voiceOverTitle%" class="playicon avatar" src="%videoMessagePlayIcon%" /></a></div>
			<button class="reply" title="%tooltipActions%"></button>
			<div class="title"><p>%message%</p></div>
		</div>
	</div>
</div>
