<div class="item transfer out" id="%itemId%">
	<div class="container">
		%transferHead%
		<div class="body">
			<div class="main instance %transferStatus%">
				<img class="icon" src="%transferType%" />
				<button class="cancel" title="%tooltipCancel%"></button>
				<button class="quicklook" title="%tooltipQuicklook%"></button>
				<button class="reveal" title="%tooltipReveal%"></button>
				<span class="name">%name%</span>
				<span class="progressbar">
					<span class="total"></span>
					<span class="progress %transferProgress%"></span>
				</span>
				<span class="size">%size%</span>
			</div>
			%subTransfers%
		</div>
	</div>
</div>