<div class="item vm out" id="%itemId%">
	<div class="container">
		<div class="head">
			<span class="sender">%sender%</span>
			<span class="time">%time%</span>
		</div>
		<div class="body">
			<div class="thumbnailbox"><a href="%videoMessageURI%"><img alt="%voiceOverTitle%" id="videoMessageThumbnailImageFor_%itemId%" src="%thumbnailPath%" class="preview"/><img alt="%voiceOverTitle%" class="playicon avatar" src="%videoMessagePlayIcon%" /></a></div>
			<div class="title"><p>%message%</p></div>
		</div>
	</div>
</div>
