<div class="item voicemail %playedStatus%" id="%itemId%">
	<div class="container">
		<div class="head">
			<span class="sender"><span class="profile" data-sender="%senderScreenName%"></span><img src="%userIconPath%" class="avatar" alt="" data-sender="%senderScreenName%" /><a href="%senderLinkURL%">%sender%</a></span>
			<span class="time">%time%</span>
			<span class="new"><span></span></span>
		</div>
		<div class="body">
			<button class="control play" title="%tooltipPlayStop%"></button>
			<button class="delete" title="%tooltipDelete%"></button>
			<span class="progressbar">
				<span class="total"></span>
				<span class="progress hidden">
					<span class="playhead"></span>
				</span>
			</span>
			<span class="played">%played%</span>
			<span class="duration">%duration%</span>
		</div>
	</div>
</div>